name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
    tags: [ "v[0-9]+.[0-9]+.[0-9]+" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Run chmod to make gradlew executable
      run: chmod +x ./gradlew
    - name: Build with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: build jacocoTestReport
    - name: Upload desktop JAR
      uses: actions/upload-artifact@v3.1.1
      with:
          name: lib-${{ matrix.os }}.jar
          path: desktop/build/libs/
    - name: Upload Checkstyle report
      uses: actions/upload-artifact@v3.1.1
      if: startsWith(matrix.os, 'ubuntu')
      with:
          name: checkstyle-report
          path: '**/build/reports/checkstyle'
    - name: Upload Jacoco Testing Report
      uses: actions/upload-artifact@v3.1.1
      if: startsWith(matrix.os, 'ubuntu')
      with:
          name: jacoco-report
          path: tests/build/reports/tests